{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{_('Welcome')}}, {{ name }}!
</h1>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

<a href="{{ url_for('chat') }}" class="button is-info is-large">
    {{_('Start a chat')}}
</a>
<a href="{{ url_for('scale') }}" class="button is-info is-large">
    {{_('Take a survey')}}
</a>

<h1>{{ _('Survey Results') }}</h1>
<table border="1">
    <thead>
        <tr>
            <th>User Email</th>
            <th>阳虚质</th>
            <th>阴虚质</th>
            <th>气虚质</th>
            <th>痰湿质</th>
            <th>温热质</th>
            <th>血瘀质</th>
            <th>特禀质</th>
            <th>气郁质</th>
            <th>平和质</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in data %}
        <tr>
            <td>{{ entry.useremail }}</td>
            {% for q in entry.questionnaireData %}
            <td>{{ q }}</td>
            {% endfor %}
            <td>{{ entry.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
<!--<iframe src="/chat"></iframe>-->