{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{_(Welcome)}}, {{ name }}!
</h1>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

<a href="{{ url_for('chat') }}" class="button is-info is-large">
    {{_(Start a chat)}}
</a>
<a href="{{ url_for('scale') }}" class="button is-info is-large">
    {{_(Take a survey)}}
</a>

<h1>TODO: 
    Chat dialog  
    列表：您的体测结果</h1>

{% endblock %}
<!--<iframe src="/chat"></iframe>-->